<%- include ('adminPartials/adminHeader') %>

<div class="container d-flex justify-content-between">
<h1>ADMIN PANEL</h1>
<form method='post' action='/admin/logout' >
    <button>Logout</button>
</form>
</div>

<%- include ('adminPartials/adminFooter') %> 