<%- include ('userPartials/userHeader') %>

<div class="container d-flex justify-content-between">
<h1>Home Page</h1>
<form method='post' action='/user/logout' >
    <button>Logout</button>
</form>
</div>

<%- include ('userPartials/userFooter') %> 